@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prata&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
a {
  color: black;
}

.wrapper {
  min-width: 100%;
  overflow: hidden;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background: #FFFFFF;
}
.header__buttons {
  width: 7.2474377745%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.header__buttons img {
  background: #FFFFFF;
}

.menu {
  width: 30.8931185944%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.menu a {
  line-height: 16px;
  color: #555248;
}

.main_banner {
  position: relative;
  height: 768px;
}
.main_banner__group {
  position: absolute;
  height: 300px;
  width: 29.8682284041%;
  left: 13.5431918009%;
  top: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main_banner__group h1 {
  font-family: "Playfair Display";
  font-size: 45px;
  line-height: 60px;
  color: #1B1A17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -40px;
}
.main_banner__group h1 img {
  width: 40px;
}
.main_banner__group h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
}
.main_banner__group p {
  width: 63.2352941176%;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-top: 40px;
  color: rgba(27, 26, 23, 0.82);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main_banner__button {
  width: 50.2450980392%;
  height: 64px;
  background: #444240;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main_banner__ellipse {
  position: absolute;
  width: 36.3103953148%;
  height: 944.01px;
  left: 29.9414348463%;
  top: -83px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 227, 212, 0)), to(#EAE3D4));
  background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
  mix-blend-mode: normal;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  overflow: hidden;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
}
.main_banner__img {
  position: absolute;
  width: 36.7957540264%;
  height: 804.25px;
  left: 48.4626647145%;
  margin-top: -11px;
  mix-blend-mode: normal;
  -webkit-transform: rotate(-0.18deg);
          transform: rotate(-0.18deg);
}

.popular {
  position: relative;
  width: 100%;
  height: 720px;
  z-index: 1;
  background: #FFFFFF;
}
.popular h2 {
  position: absolute;
  width: 25.6222547584%;
  height: 36px;
  left: 38.7994143485%;
  top: 79px;
  font-family: "Playfair Display";
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #1B1A17;
}
.popular__see_all {
  position: absolute;
  width: 8.78477306%;
  height: 26.5px;
  left: 85.4319180088%;
  top: 115px;
  text-align: center;
}
.popular__link {
  position: absolute;
  height: 15px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  left: 0;
}
.popular__line {
  position: absolute;
  width: 90%;
  top: 25px;
  left: 5%;
  margin: 0 auto;
}
.popular__models {
  position: absolute;
  width: 100%;
  top: 167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.popular__model {
  position: relative;
  width: 27.0863836018%;
}
.popular__model h3 {
  position: absolute;
  width: 29.7297297297%;
  height: 15px;
  left: 10.8108108108%;
  top: 40px;
  font-family: "Playfair Display";
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
}
.popular__model h4 {
  position: absolute;
  width: 60px;
  height: 12px;
  left: 10.8108108108%;
  top: 65px;
  font-family: "Prata";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}
.popular__img {
  position: absolute;
  height: 313px;
  width: 84.5945945946%;
  left: 7.5675675676%;
  top: 79px;
}
.popular__details {
  position: absolute;
  width: 37.8378378378%;
  height: 0px;
  left: 10.8108108108%;
  top: 411px;
}
.popular__details img {
  width: 8.1081081081;
}
.popular__details a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner {
  position: relative;
  height: 519px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(247, 245, 239)), color-stop(37%, rgb(247, 245, 239)), color-stop(37%, rgb(253, 253, 251)), to(rgb(253, 253, 251)));
  background: linear-gradient(to right, rgb(247, 245, 239) 0%, rgb(247, 245, 239) 37%, rgb(253, 253, 251) 37%, rgb(253, 253, 251) 100%);
}
.banner__group {
  position: absolute;
  height: 500px;
  width: 23.1332357247%;
  left: 56.149341142%;
  top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.banner__group h2 {
  font-family: "Playfair Display";
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}
.banner__group p {
  font-size: 16px;
  line-height: 150%;
  margin-top: 10px;
  color: #444240;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.banner__button {
  position: absolute;
  width: 64.8734177215%;
  height: 64px;
  background: #D4B098;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.banner__img {
  position: absolute;
  width: 38.140556369%;
  height: 414px;
  left: 12.9575402635%;
  top: 52px;
}
.banner__ellipse_1 {
  position: absolute;
  width: 15%;
  height: 400px;
  right: 0;
}
.banner__ellipse_2 {
  position: absolute;
  width: 30%;
  height: 744.38px;
  right: 0;
  top: 52px;
}

.contacts {
  position: relative;
  height: 610px;
  background: #FFFFFF;
  padding: 50px 7.1010248902% 90px 7.1010248902%;
}
.contacts__subscribe {
  position: absolute;
  height: 500px;
  width: 39.5314787701%;
  top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contacts__subscribe h2 {
  font-family: "Playfair Display";
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}
.contacts__subscribe p {
  width: 69.6296296296%;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 10px;
}
.contacts__logo {
  position: absolute;
  width: 17.5925925926%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.contacts__imgs {
  position: absolute;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 17.7159590044%;
  left: 46.7789165447%;
}
.contacts__big_img {
  position: absolute;
  height: 460px;
  width: 27.5988286969%;
  left: 66.6178623719%;
}

.footer {
  background: #444240;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
}
.footer > div {
  height: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer h2 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.footer a {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
}